body {
    background-color: #e7e7e7;
}

.navbar-brand{
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.list-panel{
    margin-bottom: 0 !important;
    border: 0;
    border-radius: 0;
}
.list-panel li.list-group-item{
    border-radius: 0;
    padding-right: 0;
    word-wrap: break-word;
}

.badge{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #eee;
    color: #a9a9a9;
    padding-right: 25px;
    max-width: 40px;
}

.page-content{
    width: 100%;
}

.poster-block{
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 0;
}

.poster{
    margin: 0;
    padding: 0;
}

.poster > .glyphicon{
    margin: 5px;
}

.poster>.panel-body{
    padding-top: 0;
    text-align: justify;
}

.poster-img-data{
    margin-left: 0;
    margin-top: 10px;
}

.poster-main-data-list li.list-group-item{
    border-radius: 0;
    word-wrap: break-word;
    border-right: 0;
    border-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.middle-hr{
    margin-bottom: 0;
}

.footer{
    padding: 0;
}

.footer>div{
    padding-left:0;
}

.footer-text{
    max-height: 100px;
    margin-top: 25px;
}

.footer-ng-logo{
    margin-top: 25px;
    max-width: 250px;
}

.angular-logo{
    padding: 5px;
}

.change-ad-status>a{
    min-width: 150px;
}

.left-col-btn>a{
    margin-top:15px;
}

.low-opacity{
    background-color: rgba(255, 255, 255, 0.7);
}

.modal-dialog{
    left: 0%;
}