<div>
    <div class="row">
        <div class="col-sm-6 poster-block center-block">
            <div class="panel panel-default poster">
                <div class="panel-heading"><strong>Public View - Title</strong></div>
                <div class="row poster-img-data">
                    <div class="col-sm-6 col-xs-12">
                        <img src="../../../assets/img/bus-driver.jpg" class="img-thumbnail"/>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <ul class="list-group poster-main-data-list">
                            <li class="list-group-item">
                                <strong>Name: </strong>
                                <span>Maria</span>
                            </li>

                            <li class="list-group-item">
                                <strong>Email: </strong>
                                <a href="mailto:maria@gmail.com">maria@gmail.com</a>
                            </li>
                            <li class="list-group-item">
                                <strong>Tel: </strong>
                                <span>+359 891 285429</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Driver with D1 license needed ASAP for approximately 2 hours per day, 5
                        days a week collecting children with a staff member from local schools and dropping back
                        to
                        afterschool facility. Occasional weekend work can be offered also.
                    </p>
                </div>
                <div class="panel-footer">
                    <span class="pull-right" style="margin-top: 7px;"><strong>Published on:</strong> 27-Dec-2014</span>
                    <button class="btn btn-default">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 poster-block center-block">
            <div class="panel panel-default poster">
                <div class="panel-heading"><strong>Public View - Title</strong></div>
                <div class="row poster-img-data">
                    <div class="col-sm-6 col-xs-12">
                        <img src="../../../assets/img/bus-driver.jpg" class="img-thumbnail"/>
                    </div>
                    <div class="col-sm-6 col-xs-12 row">
                        <ul class="list-group poster-main-data-list">
                            <li class="list-group-item">
                                <strong>Name: </strong>
                                <span>Maria</span>
                            </li>

                            <li class="list-group-item">
                                <strong>Email: </strong>
                                <a href="mailto:maria@gmail.com">maria@gmail.com</a>
                            </li>
                            <li class="list-group-item">
                                <strong>Tel: </strong>
                                <span>+359 891 285429</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Driver with D1 license needed ASAP for approximately 2 hours per day, 5
                        days a week collecting children with a staff member from local schools and dropping back
                        to
                        afterschool facility. Occasional weekend work can be offered also.
                    </p>
                </div>
                <div class="panel-footer">
                    <span class="pull-right" style="margin-top: 7px;"><strong>Published on:</strong> 27-Dec-2014</span>
                    <button class="btn btn-default">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>