<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>AdAp - Home</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"></button>
            <a href="/" class="navbar-brand"><img src="../img/adap-logo-small.png" alt=""/></a>
        </div>
        <div id="navbar-menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="#/">Home</a></li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Cars</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Towns <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sofia</a></li>
                        <li><a href="#">Varna</a></li>
                        <li><a href="#">Plovdiv</a></li>
                        <li><a href="#">Ruse</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/logout" id="logout" class="hidden">Sign Out</a></li>
                <li><a href="#/register">Sign In</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row page-content">
        <!-- left -->
        <div class="col-sm-6">
            <div class="panel panel-default poster">
                <div class="panel-heading"><strong>Your Profile</strong></div>
                <div class="panel-body">
                    <ul class="list-group poster-main-data-list">
                        <li class="list-group-item">
                            <span class="btn btn-sm btn-warning glyphicon glyphicon-pencil pull-right"></span>
                            <strong>Name: </strong>
                            <span>Maria</span>
                        </li>
                        <li class="list-group-item">
                            <span class="btn btn-sm btn-warning glyphicon glyphicon-pencil pull-right"></span>
                            <strong>Email: </strong>
                            <a href="mailto:maria@gmail.com">maria@gmail.com</a>
                        </li>
                        <li class="list-group-item">
                            <span class="btn btn-sm btn-warning glyphicon glyphicon-pencil pull-right"></span>
                            <strong>Tel: </strong>
                            <span>+359 891 285429</span>
                        </li>
                        <li class="list-group-item">
                            <span class="btn btn-sm btn-warning glyphicon glyphicon-pencil pull-right"></span>
                            <strong>Town: </strong>
                            <span>Plovdiv</span>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--/left -->
        </div>
        <!-- right -->
        <div class="col-sm-6">
            <div class="panel panel-default poster">
                <div class="panel-heading"><strong>Change your password</strong></div>
                <div class="panel-body">
                    <div class="form-group">
                        <hr/>
                        <input type="password" class="form-control input-lg" placeholder="Old password">
                    </div>
                    <hr/>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" placeholder="New password">
                    </div>
                    <div class="form-group ">
                        <input type="password" class="form-control input-lg" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default">Update</button>
                </div>
            </div>
            <!--/right -->
        </div>
        <!--/row -->
    </div>
    <!--/container fluid -->
    <hr>

    <div class="row panel-footer footer">
        <div class="col-xs-4">
            <a href="https://github.com/Y-LyN-10/AdAp-AngularJS-Course-Project">
                <img src="../img/github-fork-me.png" alt=""/>
            </a>
        </div>
        <div class="col-xs-4 footer-text">
            <div class="text-center">
                <p><strong>AdAp</strong>ted to your needs with AngularJS.</p>

                <p><strong>Author: </strong>Yulia Tenincheva</p>
            </div>
        </div>
        <div class="col-xs-4 footer-ng-logo pull-right">
            <img src="../img/angularjs-logo-small.png" class="img-responsive" alt=""/>
        </div>
    </div>
</div>
<!--/container-fluid-->

<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>