<!-- center + right -->
<div class="row poster-publish">
    <div class="col-xs-12">
        <div class="col-xs-12 panel panel-default poster">
            <a href="#" class="btn btn-sm btn-lg glyphicon glyphicon-remove pull-right"></a>

            <div class="panel-heading"><strong>Publish New Ad</strong></div>
            <div class="panel-body">
                <form class="form center-block panel-body" role="dialog">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control input-lg" id="title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="text">Description:</label>
                            <textarea class="form-control input-lg" rows="5" id="text"
                                      placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="img-path">Image:</label>

                            <div class="image-container container">
                                <img src="../img/bus-driver.jpg" class="img-responsive img-thumbnail" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row panel-body">
                        <div class="col-md-12">
                            <label for="upl-image">Upload image:</label>

                            <div class="input-group">
                                <input type="text" class="form-control input-lg" id="img-path" placeholder="Image path">
                                        <span class="input-group-btn">
                                            <button class="btn btn-lg" type="button" id="upl-image">Browse...</button>
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="row panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="select-town">Select town:</label>
                                <select class="form-control input-lg" id="select-town">
                                    <option value="{{id}}">Sofia</option>
                                    <option value="{{id}}">Varna</option>
                                    <option value="{{id}}">Plovdiv</option>
                                    <option value="{{id}}">Ruse</option>
                                    <option value="{{id}}">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="select-category">Select category:</label>
                                <select class="form-control input-lg" id="select-category">
                                    <option value="{{id}}">Cars</option>
                                    <option value="{{id}}">Fashion</option>
                                    <option value="{{id}}">Electronics</option>
                                    <option value="{{id}}">Services</option>
                                    <option value="{{id}}">Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- select options for town and category-->
                    <div class="row panel-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">Publish</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /SignIn Container -->
</div>
