<div class="row panel-footer footer">
    <div class="col-xs-2">
        <a href="https://github.com/Y-LyN-10/AdAp-AngularJS-Course-Project">
            <img src="../../../assets/img/github-fork-me.png" class="fork-ribbon-git" alt=""/>
        </a>
    </div>
    <div class="col-xs-7 footer-text">
        <div class="text-center">
            <p><strong>AdAp</strong>ted to your needs with AngularJS.</p>
            <p><strong>Author: </strong>Yulia Tenincheva</p>
        </div>
    </div>
    <div class="col-xs-2 footer-ng-logo pull-right">
        <img src="../../../assets/img/angularjs-logo-small.png" class="img-responsive" alt=""/>
    </div>
</div>