<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"></button>
            <a href="#/" class="navbar-brand"><img src="../../../assets/img/adap-logo-small.png" alt=""/></a>
        </div>
        <div id="navbar-menu" class="collapse navbar-collapse" ng-controller="SidebarController">
            <ul class="nav navbar-nav">
                <li role="presentation"><a href="#/">Home</a></li>
                <!-- For non-admin users only -->
                <li ng-if="authService.isRegularUser()"><a href="#/user/ads">My Ads</a></li>
                <li ng-if="authService.isRegularUser()"><a href="#/user/ads/publish">Publish New Ad</a></li>
                <!--/ Navigation for users -->
                <!--For admins-->
                <li ng-if="authService.isAdmin()"><a href="#/admin/ads">Ads</a></li>
                <li ng-if="authService.isAdmin()"><a href="#/admin/users">Users</a></li>
                <li ng-if="authService.isAdmin()"><a href="#/admin/categories">Categories</a></li>
                <li ng-if="authService.isAdmin()"><a href="#/admin/towns">Towns</a></li>
                <!-- / For admins-->
                <li><a href="" class="dropdown-toggle visible-xs visible-sm hidden-md hidden-lg" data-toggle="dropdown">Categories<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-list">
                        <li class="dropdown-list-item"
                            ng-class="{'selected' : selectedCategoryId == null}"
                            ng-click="categoryClicked(null)">
                            All
                        </li>
                        <li class="dropdown-list-item"
                            ng-repeat="category in categories"
                            ng-click="categoryClicked(category.id)"
                            ng-class="{'selected' : selectedCategoryId == category.id}">
                            {{category.name}}
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle visible-xs visible-sm hidden-md hidden-lg" data-toggle="dropdown">Towns<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-list">
                        <li class="dropdown-list-item"
                            ng-class="{'selected' : selectedTownId == null}"
                            ng-click="townClicked(null)">
                            All
                        </li>
                        <li class="dropdown-list-item"
                            ng-repeat="town in towns"
                            ng-click="townClicked(town.id)"
                            ng-class="{'selected' : selectedTownId == town.id}">
                            {{town.name}}
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <!-- Sign In/Up for anonymous site visitors  -->
                <li ng-if="authService.isAnonymous()">
                    <a href="#/login" class="button">Sign In</a>
                </li>

                <!-- Welcome msg for non-admin users -->
                <li ng-if="authService.isRegularUser()">
                    <a href="#/user/profile">Welcome, {{authService.getCurrentUser().username}}!</a>
                </li>

                <!-- Sign out for logged in users -->
                <li ng-if="authService.isLoggedIn()">
                   <a href="#/" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
