<div class='col-md-2 hidden-sm hidden-xs' ng-controller="SidebarController">
    <div ng-include="'app/common/views/categories-sidebar.html'"></div>
    <hr/>
</div>

<div class='col-md-8 col-sm-12 col-xs-12'>
    <div class="row" id='app-content' ng-controller="HomeController">
        <div ng-include="'app/common/views/ad.html'"></div>
    </div>
    <!-- row -->
    <hr class="middle-hr">
    <div ng-include="'app/common/views/pagination.html'"></div>
    <hr>
</div>

<div class='col-md-2 hidden-sm hidden-xs' ng-controller="SidebarController">
    <div ng-include="'app/common/views/towns-sidebar.html'"></div>
    <hr/>
</div>