body {
    background-color: #e7e7e7;
}

.navbar-brand{
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-list{
    max-height: 450px;
    overflow-y: scroll;
}

.dropdown-list-item{
    line-height: 1em;
    margin-bottom: 2px;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
}

.dropdown-list-item:first-of-type{
    margin-top: -5px;
}

.dropdown-list-item:hover{
    background-color: #eee;
    cursor: pointer;
}

.dropdown-list > .selected{
    background-color: #eee;
    cursor: pointer;
}

.list-panel{
    margin-bottom: 0 !important;
    border: 0;
    border-radius: 0;
}
.list-panel li.list-group-item{
    border-radius: 0;
    padding-right: 0;
    word-wrap: break-word;
}

.list-panel li.list-group-item:hover{
    background-color: #eee;
    cursor: pointer;
}

.list-panel>.selected{
    background-color: #eee;
    cursor: none;
}

.list-panel li.list-group-item:hover>.badge{
    background-color: #fff;
}

.list-panel>.selected>.badge{
    background-color: #fff;
    cursor: none;
}

.badge{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #eee;
    color: #a9a9a9;
    padding-right: 25px;
    max-width: 40px;
}

.page-content{
    width: 100%;
}

.poster-publish{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    left:0;
    right: 0;
}

.center-container{
    /*width: 100%;*/
}
.panel-sidebar{
    min-width: 150px;
}

.poster-block{
    max-width: 500px;
}

.poster{
    margin: 0;
    padding: 0;
    align-items: center;
}

.poster > .glyphicon{
    margin: 5px;
}

.poster>.panel-body{
    padding-top: 0;
    text-align: justify;
}

.poster-img-data{
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}

.poster-main-data-list li.list-group-item{
    border-radius: 0;
    word-wrap: break-word;
    border-right: 0;
    border-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.middle-hr{
    margin-bottom: 0;
}

.footer{
    max-height: 104px;
    padding: 0;
}

.footer>div{
    padding-left:0;
}

.footer-text{
    margin-top: 15px;
}

.footer-ng-logo{
    margin-top: 25px;
    margin-right: 25px;
    max-width: 250px;
}

.angular-logo{
    padding: 5px;
}

.change-ad-status>a{
    min-width: 150px;
}

.left-col-btn>a{
    margin-top:15px;
}

.low-opacity{
    background-color: rgba(255, 255, 255, 0.7);
}